{% extends 'base_back.html.twig' %}

 {% block title %}RightJob{% endblock %}



{% block body %}
<!-- Body Start -->
<!-- Body Start -->
<div class="wrapper _bg4586">
    <div class="_216b01">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="section3125 rpt145">
                        <div class="row">
                            <div class="col-lg-7">

                                <div class="dp_dt150">
                                    <div class="img148">
                                        <img src="{{ asset('images/left-imgs/img-17.jpg') }}" alt="">
                                    </div>
                                    <div class="prfledt1">
                                        <h2>{{ admin.nom }} {{ admin.prenom }}</h2>
                                        <span style="color: #1da1f2">{{ admin.login }}</span>
                                        <br>
                                        <br>
                                        <span>{{ admin.type }}</span>
                                    </div>

                                </div>
                                {% if (admin.etat == 0) %}
                                    <div class="tutor150">
                                        <a href="{{ path ('UpdateAdmin', {'id': admin.id}) }}" class="tutor_nameLocked">This account is Locked</a>
                                    </div>
                                {% endif %}
                                <ul class="_ttl120">
                                    <li>
                                        <div class="_ttl121">
                                            <div class="_ttl122">Approved</div>
                                            <div class="_ttl123">{{ admin.approuve }}</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="_ttl121">
                                            <div class="_ttl122">No Approved</div>
                                            <div class="_ttl123">{{ admin.nonapprouve }}</div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-lg-5">

                                <div class="rgt-145">


                                </div>
                                <ul class="_bty149">
                                    <li><a href="{{ path('UpdateAdmin', {'id': admin.id })}}" class="upload_btn">Update</a></li>
                                    <li><a href="{{ path('DeleteAdmin', {'id': admin.id })}}"  class="AdminDelete_btn">Delete</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Body End -->
{% endblock %}
