{% extends 'base_back.html.twig' %}
{% block title %}Cursus - Index{% endblock %}
{% block body %}
    <div class="container text-center">


        <h1>Product index</h1>


        <table class="table">
            <thead>
            <tr>
                <th>Cv_file</th>
                <th>Nom de la scociete</th>
                <th>Domaine</th>
                <th>Description</th>
                <th>Diplome</th>
                <th>Salaire</th>

            </tr>
            </thead>
            <tbody>
            {% for d in demandes %}
                <tr>
                    <td>{{ d.cv }}</td>
                    <td>{{ d.nomsociete }}</td>
                    <td>{{ d.domaine }}</td>
                    <td>{{ d.description }}</td>

                    <td>{{ d.diplome }}</td>
                    <td>{{ d.salaire }}</td>

                    <td>

                        <a class="btn btn-danger" href="{{ path("deleteDEmploib",{"id":d.id}) }}">delete</a>
                        <a class="btn btn-success" href="{{ path('listD') }}">Create pdf</a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}
