{% extends 'base_back.html.twig' %}

 {% block title %}RightJob{% endblock %}



{% block body %}
    <!-- Body Start -->
    <!-- Body Start -->
    <div class="wrapper _bg4586">
        <div class="_216b01">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-10">
                        <div class="section3125 rpt145">
                            <div class="row">
                                <div class="col-lg-7">

                                    <div class="dp_dt150">
                                        <div class="img148">
                                            <img src="{{ asset('images/left-imgs/img-17.jpg') }}" alt="">
                                        </div>
                                        <div class="prfledt1">
                                            <h2>{{ admin.nom }} {{ admin.prenom }}</h2>
                                            <span style="color: #1da1f2">{{ admin.login }}</span>
                                            <br>
                                            <br>
                                            <span>{{ admin.type }}</span>
                                        </div>

                                    </div>
                                    <ul class="_ttl120">
                                        <li>
                                            <div class="_ttl121">
                                                <div class="_ttl122">Approved</div>
                                                <div class="_ttl123">{{ admin.approuve }}</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="_ttl121">
                                                <div class="_ttl122">No Approved</div>
                                                <div class="_ttl123">{{ admin.nonapprouve }}</div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="_215b17">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="my_courses_tabs" id="t">

                            <ul class="nav nav-pills my_crse_nav" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-my-courses-tab" data-toggle="pill" href="#Offre-Emploi" role="tab" aria-controls="Offre-Emploi" aria-selected="true"><i class="uil uil-book-alt"></i>Les Offres d'emplois </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-my-purchases-tab" data-toggle="pill" href="#Offre-Stage" role="tab" aria-controls="Offre-Stage" aria-selected="false"><i class="uil uil-download-alt"></i>Les Offres de stages</a>
                                </li>


                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="Offre-Emploi" role="tabpanel">
                                    <div class="col-lg-12 col-md-12">


                                        {% if ListeOffreEmploi.items == null %}
                                            <div class="title129 mt-35 mb-35">
                                                <h2>Aucune Offre d'emploi</h2>
                                            </div>
                                        {% else %}

                                            <div class="table-responsive mt-50 mb-0">
                                                <table class="table ucp-table">
                                                    <thead class="thead-s">
                                                    <tr>
                                                        <th class="text-center" scope="col">Nom de projet</th>
                                                        <th class="text-center" scope="col">Compétences</th>
                                                        <th class="text-center" scope="col">Description</th>

                                                        <th class="text-center" scope="col">Domaine</th>
                                                        <th class="cell-ta">Salaire</th>
                                                        <th class="text-center" scope="col">date création</th>
                                                        <th class="text-center" scope="col">date expiration</th>
                                                        <th class="text-center" scope="col">Controls</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    {% for i in ListeOffreEmploi %}

                                                        <tr>

                                                            <td class="text-center">{{ i.nomProjet }}</td>
                                                            <td class="cell-ta">{{ i.competences }}</td>
                                                            <td class="text-center">{{ i.description }}</td>
                                                            <td class="text-center">{{ i.domaine }}</td>
                                                            <td class="text-center">{{ i.salaire }}</td>
                                                            <td class="text-center">{{i.dateCreation ? i.dateCreation|date('Y-m-d')}}</td>
                                                            <td class="text-center">{{i.dateExpiration ? i.dateExpiration|date('Y-m-d')}}</td>
                                                            <td class="text-center">
                                                                <a href="{{ path('deactivateOffreEmploi', {'id': i.id}) }}" title="Delete" class="gray-s"><i class="uil uil-trash-alt"></i></a>
                                                            </td>

                                                        </tr>

                                                    {% endfor %}
                                                    <tr><th><p style="color:blue"> le nombre des offres d'emploi :	 {{c}} </p></th>
                                                        <th><a class="btn btn-success" href="{{ path('listh') }}">Créer PDF</a></th>
                                                        <th><a class="btn btn-primary" href="{{ path('updateExpiration') }}">Expiration</a> </th></tr>

                                                    </tbody>
                                                </table>
                                                <div class="main-p-pagination">
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination">
                                                            <li class="page-item">
                                                                {{ knp_pagination_render(ListeOffreEmploi) }}
                                                            </li>

                                                        </ul>
                                                    </nav>
                                                </div>

                                            </div>
                                        {% endif %}
                                    </div>


                                </div>
                                <div class="tab-pane fade" id="Offre-Stage" role="tabpanel">
                                    <div class="col-lg-12 col-md-12">


                                        {% if ListeOffreStage.items == null %}
                                            <div class="title129 mt-35 mb-35">
                                                <h2>Aucune Offre de stage</h2>
                                            </div>
                                        {% else %}

                                            <div class="table-responsive mt-50 mb-0">
                                                <table class="table ucp-table">
                                                    <thead class="thead-s">
                                                    <tr>
                                                        <th class="text-center" scope="col">Nom de projet</th>
                                                        <th class="text-center" scope="col">Compétences</th>
                                                        <th class="text-center" scope="col">Description</th>

                                                        <th class="text-center" scope="col">Domaine</th>
                                                        <th class="cell-ta">Durée</th>
                                                        <th class="text-center" scope="col">Type de stage</th>
                                                        <th class="text-center" scope="col">date création</th>
                                                        <th class="text-center" scope="col">date expiration</th>
                                                        <th class="text-center" scope="col">Controls</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    {% for i in ListeOffreStage %}
                                                        <tr>

                                                            <td class="text-center">{{ i.nomProjet }}</td>
                                                            <td class="cell-ta">{{ i.competences }}</td>
                                                            <td class="text-center">{{ i.description }}</td>
                                                            <td class="text-center">{{ i.domaine }}</td>
                                                            <td class="text-center">{{ i.duree }}</td>
                                                            <td class="text-center">{{ i.typeStage }}</td>
                                                            <td class="text-center">{{i.dateCreation ? i.dateCreation|date('Y-m-d')}}</td>
                                                            <td class="text-center">{{i.dateExpiration ? i.dateExpiration|date('Y-m-d')}}</td>
                                                            <td class="text-center">
                                                                <a href="{{ path('deactivateOffreStage', {'id': i.id}) }}" title="Delete" class="gray-s"><i class="uil uil-trash-alt"></i></a>
                                                            </td>

                                                        </tr>
                                                    {% endfor %}
                                                    <tr><th><p style="color:blue"> le nombre des offres des stages :	 {{cs}} </p></th>
                                                        <th><a class="btn btn-success" href="{{ path('listhS') }}">Créer PDF</a></th>
                                                        <th><a class="btn btn-primary" href="{{ path('updateExpiration') }}">Expiration</a> </th></tr>

                                                    </tbody>
                                                </table>
                                                <div class="main-p-pagination">
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination">
                                                            <li class="page-item">
                                                                {{ knp_pagination_render(ListeOffreStage) }}
                                                            </li>

                                                        </ul>
                                                    </nav>
                                                </div>


                                            </div>
                                        {% endif %}
                                    </div>


                                </div>




                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- Body End -->
{% endblock %}
