{% extends 'base_back.html.twig' %}

 {% block title %}RightJob{% endblock %}

 {% block css %}
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, shrink-to-fit=9">
     <meta name="description" content="Gambolthemes">
     <meta name="author" content="Gambolthemes">
     <title>Cursus - All Admins</title>

     <!-- Favicon Icon -->
     <link rel="icon" type="image/png" href="{{ asset('images/fav.png') }}">

     <!-- Stylesheets -->
     <link href='{{ asset('http://fonts.googleapis.com/css?family=Roboto:400,700,500') }}' rel='stylesheet'>
     <link href='{{ asset('vendor/unicons-2.0.1/css/unicons.css') }}' rel='stylesheet'>
     <link href="{{ asset('css/vertical-responsive-menu.min.css') }}" rel="stylesheet">
     <link href="{{ asset('css/style.css') }}" rel="stylesheet">
     <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">
     <link href="{{ asset('css/night-mode.css') }}" rel="stylesheet">

     <!-- Vendor Stylesheets -->
     <link href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
     <link href="{{ asset('vendor/OwlCarousel/assets/owl.carousel.css') }}" rel="stylesheet">
     <link href="{{ asset('vendor/OwlCarousel/assets/owl.theme.default.min.css') }}" rel="stylesheet">
     <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="{{ asset('vendor/semantic/semantic.min.css') }}">

 {% endblock %}


{% block body %}

    <!-- Body Start -->
    <div class="wrapper">
        <div class="sa4d25">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="st_title"><i class="uil uil-analysis"></i> Analyics</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-sm-6">
                        <div class="card card-mini analysis_card">
                            <div class="card-body">
                                <h2 class="mb-2">{{ nbUtilisateur }}</h2>
                                <p>Utilisateurs</p>
                                <div class="chartjs-wrapper">
                                    <canvas id="currentUser" class="chartjs"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-sm-6">
                        <div class="card card-mini analysis_card">
                            <div class="card-body">
                                <h2 class="mb-2">{{ nbReclamation }}</h2>
                                <p>Reclamations par mois</p>
                                <div class="chartjs-wrapper">
                                    <canvas id="linechart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-sm-6">
                        <div class="card card-mini analysis_card">
                            <div class="card-body">
                                <h2 class="mb-1">{{ nbDemande }}</h2>
                                <p>Demande Emploi/Stage par mois</p>
                                <p>Demande Emploi : {{ nbDemandeEmploi }}</p>
                                <p>Demande Stage : {{ nbDemandeStage }}</p>
                                <div class="chartjs-wrapper">
                                    <canvas id="dual-line"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <!-- Sales Graph -->
                        <div class="card card-mini analysis_card" >
                            <div class="card-body">
                                <h2 class="mb-1">{{ nbOffre }}</h2>
                                <p>Offre Emploi/Stage par mois</p>
                                <p>Offre Emploi : {{ nbOffreEmploi }}</p>
                                <p>Offre Stage : {{ nbOffreStage }}</p>
                                <div class="chartjs-wrapper">
                                    <canvas id="activity" class="chartjs"></canvas>
                                </div>
                            </div>
                    </div>


                </div>
            </div>
        </div>
        <footer class="footer mt-40">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="item_f1">
                            <a href="terms_of_use.html">Copyright Policy</a>
                            <a href="terms_of_use.html">Terms</a>
                            <a href="terms_of_use.html">Privacy Policy</a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="footer_bottm">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="fotb_left">
                                        <li>
                                            <a href="index.html">
                                                <div class="footer_logo">
                                                    <img src="images/logo1.svg" alt="">
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <p>© 2020 <strong>Cursus</strong>. All Rights Reserved.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <div class="edu_social_links">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                        <a href="#"><i class="fab fa-youtube"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>








    <!-- Body End -->
{% endblock %}


{% block js %}
    <script src="{{ asset('js/vertical-responsive-menu.min.js') }}"></script>
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('vendor/OwlCarousel/owl.carousel.js') }}"></script>
    <script src="{{ asset('vendor/semantic/semantic.min.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
    <script src="{{ asset('js/night-mode.js') }}"></script>
    <script src="{{ asset('./js/chart.js') }}"></script>
    <script src="{{ asset('./vendor/charts/Chart.min.js') }}"></script>



    <script>
        /*======== 3. LINE CHART ========*/
        var ctx = document.getElementById("linechart");
        if (ctx !== null) {
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: "line",

                // The data for our dataset
                data: {
                    labels: [
                        "Janvier",
                        "Fevrier",
                        "Mars",
                        "Avril",
                        "Mai",
                        "Juin",
                        "Juillet",
                        "Aout",
                        "Septembre",
                        "Octobre",
                        "Novembre",
                        "Decembre"
                    ],
                    datasets: [
                        {
                            label: "",
                            backgroundColor: "transparent",
                            borderColor: "rgb(237, 42, 38)",
                            {{ ReclamationData }},
                            lineTension: 0.3,
                            pointRadius: 5,
                            pointBackgroundColor: "rgba(255,255,255,1)",
                            pointHoverBackgroundColor: "rgba(255,255,255,1)",
                            pointBorderWidth: 2,
                            pointHoverRadius: 8,
                            pointHoverBorderWidth: 1
                        }
                    ]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    layout: {
                        padding: {
                            right: 10
                        }
                    },
                    scales: {
                        xAxes: [
                            {
                                gridLines: {
                                    display: false
                                }
                            }
                        ],
                        yAxes: [
                            {
                                gridLines: {
                                    display: true,
                                    color: "#efefef",
                                    zeroLineColor: "#efefef",
                                },
                                ticks: {
                                    callback: function(value) {
                                        var ranges = [
                                            { divider: 1e6, suffix: "M" },
                                            { divider: 1e4, suffix: "k" }
                                        ];
                                        function formatNumber(n) {
                                            for (var i = 0; i < ranges.length; i++) {
                                                if (n >= ranges[i].divider) {
                                                    return (
                                                        (n / ranges[i].divider).toString() + ranges[i].suffix
                                                    );
                                                }
                                            }
                                            return n;
                                        }
                                        return formatNumber(value);
                                    }
                                }
                            }
                        ]
                    },
                    tooltips: {
                        callbacks: {
                            title: function(tooltipItem, data) {
                                return data["labels"][tooltipItem[0]["index"]];
                            }
                        },
                        responsive: true,
                        intersect: false,
                        enabled: true,
                        titleFontColor: "#333",
                        bodyFontColor: "#686f7a",
                        titleFontSize: 12,
                        bodyFontSize: 14,
                        backgroundColor: "rgba(256,256,256,0.95)",
                        xPadding: 20,
                        yPadding: 10,
                        displayColors: false,
                        borderColor: "rgba(220, 220, 220, 0.9)",
                        borderWidth: 2,
                        caretSize: 10,
                        caretPadding: 15
                    }
                }
            });
        }










        /*======== 14. CURRENT USER BAR CHART ========*/
        var cUser = document.getElementById("currentUser");
        if (cUser !== null) {
            var myUChart = new Chart(cUser, {
                type: "bar",
                data: {
                    labels: [
                        "Janvier",
                        "Fevrier",
                        "Mars",
                        "Avril",
                        "Mai",
                        "Juin",
                        "Juillet",
                        "Aout",
                        "Septembre",
                        "Octobre",
                        "Novembre",
                        "Decembre"
                    ],
                    datasets: [
                        {
                            label: "",
                        {{ UtilisateurData }},
                            // data: [2, 3.2, 1.8, 2.1, 1.5, 3.5, 4, 2.3, 2.9, 4.5, 1.8, 3.4, 2.8],
                            backgroundColor: "#ed2a26"
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [
                            {
                                gridLines: {
                                    drawBorder: true,
                                    display: false,
                                },
                                ticks: {
                                    fontColor: "#686f7a",
                                    fontFamily: "Roboto, sans-serif",
                                    display: false, // hide main x-axis line
                                    beginAtZero: true,
                                    callback: function(tick, index, array) {
                                        return index % 2 ? "" : tick;
                                    }
                                },
                                barPercentage: 1.8,
                                categoryPercentage: 0.2
                            }
                        ],
                        yAxes: [
                            {
                                gridLines: {
                                    drawBorder: true,
                                    display: true,
                                    color: "#efefef",
                                    zeroLineColor: "#efefef"
                                },
                                ticks: {
                                    fontColor: "#686f7a",
                                    fontFamily: "Roboto, sans-serif",
                                    display: true,
                                    beginAtZero: true
                                }
                            }
                        ]
                    },

                    tooltips: {
                        mode: "index",
                        titleFontColor: "#333",
                        bodyFontColor: "#686f7a",
                        titleFontSize: 12,
                        bodyFontSize: 14,
                        backgroundColor: "rgba(256,256,256,0.95)",
                        displayColors: true,
                        xPadding: 10,
                        yPadding: 7,
                        borderColor: "rgba(220, 220, 220, 0.9)",
                        borderWidth: 2,
                        caretSize: 6,
                        caretPadding: 5
                    }
                }
            });
        }




        /*======== 1. DUAL LINE CHART ========*/
        var dual = document.getElementById("dual-line");
        if (dual !== null) {
            var urChart = new Chart(dual, {
                type: "line",
                data: {
                    labels: ["Janvier",
                        "Fevrier",
                        "Mars",
                        "Avril",
                        "Mai",
                        "Juin",
                        "Juillet",
                        "Aout",
                        "Septembre",
                        "Octobre",
                        "Novembre",
                        "Decembre"],
                    datasets: [
                        {
                            label: "Emploi",
                            pointRadius: 4,
                            pointBackgroundColor: "rgba(255,255,255,1)",
                            pointBorderWidth: 2,
                            fill: true,
                            backgroundColor: "transparent",
                            borderWidth: 2,
                            borderColor: "#ffc136",
                        {{ DemandeEmploiData }}
                        },
                        {
                            label: "Stage",
                            fill: false,
                            pointRadius: 4,
                            pointBackgroundColor: "rgba(255,255,255,1)",
                            pointBorderWidth: 2,
                            backgroundColor: "transparent",
                            borderWidth: 2,
                            borderColor: "#ed2a26",
                        {{ DemandeStageData }}
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            right: 10
                        }
                    },

                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [
                            {
                                gridLines: {
                                    drawBorder: false,
                                    display: false
                                },
                                ticks: {
                                    display: false, // hide main x-axis line
                                    beginAtZero: true
                                },
                                barPercentage: 1.8,
                                categoryPercentage: 0.2
                            }
                        ],
                        yAxes: [
                            {
                                gridLines: {
                                    drawBorder: false, // hide main y-axis line
                                    display: false
                                },
                                ticks: {
                                    display: false,
                                    beginAtZero: true
                                }
                            }
                        ]
                    },
                    tooltips: {
                        titleFontColor: "#333",
                        bodyFontColor: "#686f7a",
                        titleFontSize: 12,
                        bodyFontSize: 14,
                        backgroundColor: "rgba(256,256,256,0.95)",
                        displayColors: true,
                        borderColor: "rgba(220, 220, 220, 0.9)",
                        borderWidth: 2
                    }
                }
            });
        }






        /*======== 16. ANALYTICS - ACTIVITY CHART ========*/
        var activity = document.getElementById("activity");
        if (activity !== null) {

            var config = {
                // The type of chart we want to create
                type: "line",
                // The data for our dataset
                data: {
                    labels: [
                        "Janvier",
                        "Fevrier",
                        "Mars",
                        "Avril",
                        "Mai",
                        "Juin",
                        "Juillet",
                        "Aout",
                        "Septembre",
                        "Octobre",
                        "Novembre",
                        "Decembre"
                    ],
                    datasets: [
                        {
                            label: "Emploi",
                            backgroundColor: "transparent",
                            borderColor: "rgb(237, 42, 38)",
                        {{ OffreEmploiData }},
                            lineTension: 0,
                            pointRadius: 5,
                            pointBackgroundColor: "rgba(255,255,255,1)",
                            pointHoverBackgroundColor: "rgba(255,255,255,1)",
                            pointBorderWidth: 2,
                            pointHoverRadius: 7,
                            pointHoverBorderWidth: 1
                        },
                        {
                            label: "Stage",
                            backgroundColor: "transparent",
                            borderColor: "rgb(255, 193, 54)",
                                {{ OffreStageData }},
                            lineTension: 0,
                            borderDash: [10, 5],
                            borderWidth: 1,
                            pointRadius: 5,
                            pointBackgroundColor: "rgba(255,255,255,1)",
                            pointHoverBackgroundColor: "rgba(255,255,255,1)",
                            pointBorderWidth: 2,
                            pointHoverRadius: 7,
                            pointHoverBorderWidth: 1
                        }
                    ]
                },
                // Configuration options go here
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [
                            {
                                gridLines: {
                                    display: false,
                                },
                                ticks: {
                                    fontColor: "#686f7a", // this here
                                },
                            }
                        ],
                        yAxes: [
                            {
                                gridLines: {
                                    fontColor: "#686f7a",
                                    fontFamily: "Roboto, sans-serif",
                                    display: true,
                                    color: "#efefef",
                                    zeroLineColor: "#efefef"
                                },
                                ticks: {
                                    // callback: function(tick, index, array) {
                                    //   return (index % 2) ? "" : tick;
                                    // }

                                    fontColor: "#686f7a",
                                    fontFamily: "Roboto, sans-serif"
                                }
                            }
                        ]
                    },
                    tooltips: {
                        mode: "index",
                        intersect: false,
                        titleFontColor: "#333",
                        bodyFontColor: "#686f7a",
                        titleFontSize: 12,
                        bodyFontSize: 15,
                        backgroundColor: "rgba(256,256,256,0.95)",
                        displayColors: true,
                        xPadding: 10,
                        yPadding: 7,
                        borderColor: "rgba(220, 220, 220, 0.9)",
                        borderWidth: 2,
                        caretSize: 6,
                        caretPadding: 5
                    }
                }
            };

            var ctx = document.getElementById("activity").getContext("2d");
            var myLine = new Chart(ctx, config);

            var items = document.querySelectorAll("#user-activity .nav-tabs .nav-item");
            items.forEach(function(item, index){
                item.addEventListener("click", function() {
                    config.data.datasets[0].data = activityData[index].first;
                    config.data.datasets[1].data = activityData[index].second;
                    myLine.update();
                });
            });
        }
    </script>
{% endblock %}
