{% extends 'base.html.twig' %}

{% block title %}RightJob{% endblock %}

{% block css %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">


    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="{{ asset('images/fav.png') }}">

    <!-- Stylesheets -->
    <link href='{{ asset('http://fonts.googleapis.com/css?family=Roboto:400,700,500') }}' rel='stylesheet'>
    <link href='{{ asset('vendor/unicons-2.0.1/css/unicons.css') }}' rel='stylesheet'>
    <link href="{{ asset('css/vertical-responsive-menu.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('css/night-mode.css') }}" rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/OwlCarousel/assets/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/OwlCarousel/assets/owl.theme.default.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/semantic/semantic.min.css') }}">

{% endblock %}

{% block WholeBody %}
    <!-- Signin Start -->
    <div class="sign_in_up_bg">
        <div class="container">
            <div class="row justify-content-lg-center justify-content-md-center">
                <div class="col-lg-12">
                    <div class="main_logo25" id="logo">
                        <a href="{{ path('index') }}"><img src="{{ asset('images/Logo_complet.png') }}" alt="" width="160" height="70"></a>
                        <a href="{{ path('index') }}"><img class="logo-inverse" src="{{ asset('images/Logo_complet.png') }}" alt="" width="140" height="70"></a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-8">
                    <div class="sign_form">
                        <h2>Content de te revoir</h2>
                        <p>Connectez-vous à votre compte!</p>
{#                        <button class="social_lnk_btn color_btn_fb" ><i class="uil uil-facebook-f"></i><a href="{{ path('connect_facebook_start') }}">Continue with Facebook</a></button>#}
{#                        <button class="social_lnk_btn mt-15 color_btn_tw"><i class="uil uil-twitter"></i>Continue with Twitter</button>#}
{#                        <button class="social_lnk_btn mt-15 color_btn_go"><i class="uil uil-google"></i>Continue with Google</button>#}
                        <form {{ form_start(form,{'attr':{novalidate:'novalidate'}}) }}
                            <div class="ui search focus mt-15">
                                <div class="ui left icon input swdh95">
                                    {{ form_widget(form.email) }}
                                    <i class="uil uil-envelope icon icon2"></i>
                                </div>
                            </div>
                            <div class="ui search focus mt-15">
                                <div class="ui left icon input swdh95">
                                    {{ form_errors(form.email) }}

                                </div>
                            </div>
                            <div class="ui search focus mt-15">
                                <div class="ui left icon input swdh95">
                                    {{ form_widget(form.mot_de_passe) }}
                                    <i class="uil uil-key-skeleton-alt icon icon2"></i>
                                </div>
                            </div>
                            <div class="ui search focus mt-15">
                                <div class="ui left icon input swdh95">
                                    {{ form_errors(form.mot_de_passe) }}

                                </div>
                            </div>

                            <div class="ui search focus mt-15">
                                <div class="ui left icon input swdh95">
                                    {{ form_widget(form.captchaCode) }}
                                </div>
                            </div>
                        <br>
                        <br>
                            <div class="ui search focus mt-15">
                                <div class="ui left icon input swdh95">
                                    {{ form_errors(form.captchaCode) }}
                                </div>
                            </div>

                            {{ form_widget(form.SignIn) }}
                        </form>
                        <p class="sgntrm145">Ou <a href="{{ path('ForgetPassword') }}">mot de passe oublié</a>?</p>
                        <p class="mb-0 mt-30 hvsng145">vous n'avez pas de compte Freelancer? <a href="{{ path('SignUp',{'type':'Freelancer'}) }}">Sign Up</a></p>
                        <p class="mb-0 mt-30 hvsng145">vous n'avez pas de compte de Societe? <a href="{{ path('SignUp',{'type':'Societe'}) }}">Sign Up</a></p>
                    </div>
                    <div class="sign_footer"><img src="{{ asset('images/sign_logo.png') }}" alt="">© 2021 <strong>PowerDev</strong>. All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Signin End -->
{% endblock %}

{% block js %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('vendor/OwlCarousel/owl.carousel.js') }}"></script>
    <script src="{{ asset('vendor/semantic/semantic.min.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
    <script src="{{ asset('js/night-mode.js') }}"></script>
{% endblock %}