{% extends 'base.html.twig' %}

{% block title %}RightJob{% endblock %}

{% block css %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="{{ asset('images/fav.png') }}">

    <!-- Stylesheets -->
    <link href='{{ asset('http://fonts.googleapis.com/css?family=Roboto:400,700,500') }}' rel='stylesheet'>
    <link href='{{ asset('vendor/unicons-2.0.1/css/unicons.css') }}' rel='stylesheet'>
    <link href="{{ asset('css/vertical-responsive-menu.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('css/responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('css/night-mode.css') }}" rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/OwlCarousel/assets/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/OwlCarousel/assets/owl.theme.default.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/semantic/semantic.min.css') }}">


{% endblock %}

{% block WholeBody %}
    <!-- Signup Start -->
    <div class="sign_in_up_bg">
        <div class="container">
            <div class="row justify-content-lg-center justify-content-md-center">
                <div class="col-lg-12">
                    <div class="main_logo25" id="logo">
                        <a href="{{ path('index') }}"><img src="{{ asset('images/Logo_complet.png') }}" alt="" width="120" height="50"></a>
                        <a href="{{ path('index') }}"><img class="logo-inverse" src="{{ asset('images/Logo_complet.png') }}" alt="" width="120" height="50"></a>
                    </div>
                </div>

                <div class="col-lg-6 col-md-8">
                    <div class="sign_form">
                        <h2>Welcome to RightJob</h2>
                        <p>Sign Up and Start Learning!</p>
                        {% if type =="Freelancer" %}
                            <form {{ form_start(form,{'attr':{novalidate:'novalidate'}}) }}>
                                <div class="ui search focus">
                                    <div class="ui left icon input swdh11 swdh19">
                                        {{ form_widget(form.nom) }}
                                    </div>
                                </div>
                                <div class="ui search focus">
                                    <div class="ui left icon input swdh11 swdh19">
                                        {{ form_errors(form.nom) }}
                                    </div>
                                </div>
                                <div class="ui search focus mt-15">
                                    <div class="ui left icon input swdh11 swdh19">
                                        {{ form_widget(form.prenom) }}
                                    </div>
                                </div>
                                <div class="ui search focus">
                                    <div class="ui left icon input swdh11 swdh19">
                                        {{ form_errors(form.prenom) }}
                                    </div>
                                </div>
                                <div class="ui search focus mt-15">
                                    <div class="ui left icon input swdh11 swdh19">
                                        {{ form_widget(form.email) }}
                                    </div>
                                </div>
                                <div class="ui search focus">
                                    <div class="ui left icon input swdh11 swdh19">
                                        {{ form_errors(form.email) }}
                                    </div>
                                </div>
                                <div class="ui search focus mt-15">
                                    <div class="ui left icon input swdh11 swdh19">
                                        {{ form_widget(form.mot_de_passe) }}
                                    </div>
                                </div>
                                <div class="ui search focus">
                                    <div class="ui left icon input swdh11 swdh19">
                                        {{ form_errors(form.mot_de_passe) }}
                                    </div>
                                </div>
                                {{ form_widget(form.SignUp) }}
                            </form {{ form_end(form) }}>
                        {%else%}
                            <form {{ form_start(form) }}>
                                <div class="ui search focus">
                                    <div class="ui left icon input swdh11 swdh19">
                                        {{ form_widget(form.nom) }}
                                    </div>
                                </div>
                                <div class="ui search focus mt-15">
                                    <div class="ui left icon input swdh11 swdh19">
                                        {{ form_widget(form.email) }}
                                    </div>
                                </div>
                                <div class="ui search focus mt-15">
                                    <div class="ui left icon input swdh11 swdh19">
                                        {{ form_widget(form.mot_de_pass) }}
                                    </div>
                                </div>
                                <div class="ui form mt-30 checkbox_sign">
                                    <div class="inline field">
                                        <div class="ui checkbox mncheck">
                                            <input type="checkbox" tabindex="0" class="hidden">
                                            <label>I’m in for emails with exciting discounts and personalized recommendations</label>
                                        </div>
                                    </div>
                                </div>
                                {{ form_widget(form.SignUp) }}
                            </form>
                        {% endif %}
                        <p class="sgntrm145">By signing up, you agree to our <a href="terms_of_use.html">Terms of Use</a> and <a href="terms_of_use.html">Privacy Policy</a>.</p>
                        <p class="mb-0 mt-30">Already have an account? <a href="{{ path('SignIn') }}">Log In</a></p>
                    </div>
                    <div class="sign_footer"><img src="{{ asset('images/sign_logo.png') }}" alt="">© 2021 <strong>PowerDev</strong>. All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Signup End -->
{% endblock %}

{% block js %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('vendor/OwlCarousel/owl.carousel.js') }}"></script>
    <script src="{{ asset('vendor/semantic/semantic.min.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
    <script src="{{ asset('js/night-mode.js') }}"></script>
{% endblock %}