{% extends 'base.html.twig' %}

{% block title %}RightJob{% endblock %}

{% block css %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>RightJOB - FORUM</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="images/lg.png">

    <!-- Stylesheets -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
    <link href='vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
    <link href="css/vertical-responsive-menu.min.css" rel="stylesheet">
    <link href="css/instructor-dashboard.css" rel="stylesheet">
    <link href="css/instructor-responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link href="css/night-mode.css" rel="stylesheet">
    <link href="css/jquery-steps.css" rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
    <link href="vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="vendor/semantic/semantic.min.css">


{% endblock %}

{% block body %}


    <div class="wrapper">
        <div class="sa4d25">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-8 col-lg-8">
                        <div class="fcrse_1"  style="margin-bottom: 20px;"  >
                            <div class="col-lg-12 col-md-12">
                                <div class="course_des_textarea mt-30 lbel25">
                                    <h4 align="center" >Créer une publication</h4>
                                    <div align="center">
                                        <button class="Get_btn" onclick="document.location='addpost'" >Créer une publication</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        {% for i in publications %}
                        <div class="fcrse_1" style="margin-bottom: 20px;" >
                            <div class="user_dt5" style="margin-top: 10px; margin-left: 10px" >
                                <div class="user_dt_left">
                                    <div class="live_user_dt">
                                        <div class="user_img5">
                                            <img src="images/left-imgs/img-15.jpg" alt="">
                                        </div>
                                        <div class="user_cntnt">
                                            <h4>Mahdi Ksemtini</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="eps_dots more_dropdown" style="margin-right: 30px; margin-top: 10px" >
                                <a href="#"><i class='uil uil-ellipsis-v'></i></a>
                                <div class="dropdown-content">
                                    <a href={{ path('modifierpublication',{'id': i.id }) }}> <span   ><i class='uil-edit' ></i>Modifier</span> </a>
                                    <a href={{ path('supprimerPublication',{'id': i.id }) }}> <span><i class='uil uil-trash-alt'></i>Supprimer</span> </a>
                                    <a href="#"> <span><i class="uil uil-windsock"></i>Signaler</span> </a>
                                </div>
                            </div>

                            <div class="live1452">

                                <a class="crse-cate">{{ i.description }}</a>
                                <div align="center">
                                    <img src="uploads/{{ i.image }}" class="fcrse_img"  alt="">
                                </div>
                                <div class="fcrse_content">
                                    {{ i.datePublication |date}}
                                </div>
                            </div>

                            <div class="fcrse_3">
                                <div class="cater_ttle">
                                    <h4>Commentaires</h4>
                                </div>
                                <div class="live_chat">
                                    <div class="chat1">
                                        <p>
                                        <div class="eps_dots more_dropdown" style="margin-right: 30px; margin-top: 10px" >
                                            <a href="#"><i class='uil uil-ellipsis-v'></i></a>
                                            <div class="dropdown-content">
                                                <span><i class='uil-edit'></i>Modifier</span>
                                                <span><i class='uil uil-trash-alt'></i>Supprimer</span>
                                            </div>
                                        </div>
                                        <a href="#">John Doe</a>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet molestie leo ac pellentesque
                                        </p>
                                    </div>
                                </div>
                                <div class="live_comment">
                                    <input class="live_input" type="text" placeholder="Ajouter un commentaire..." />
                                    <button class="btn_live"><i class='uil uil-message'></i></button>
                                </div>

                            </div>
                        </div>
                        {% endfor %}

                    </div>

                    <div class="col-xl-3 col-lg-4">
                        <div class="right_side">

                            <div class="fcrse_3">
                                <div class="cater_ttle">
                                    <h4>Trier par :</h4>
                                </div>
                                <div class="ui search" align="center" >
                                    <div class="ui left icon input swdh10" >
                                        <input class="prompt srch10" type="text" placeholder="Search by user, content and more..">
                                        <i class='uil uil-search-alt icon icon1'></i>
                                    </div>
                                </div>
                                <ul class="allcate15"  >
                                    <li><a href="#" class="ct_item"><i class='uil-comment-upload'></i>Most comments</a></li>
                                    <li><a href="#" class="ct_item"><i class='uil-clock-eight'></i>Newest</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <footer class="footer mt-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="item_f1">
                            <a href="about_us.html">About</a>
                            <a href="our_blog.html">Blog</a>
                            <a href="career.html">Careers</a>
                            <a href="press.html">Press</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="item_f1">
                            <a href="help.html">Help</a>
                            <a href="coming_soon.html">Advertise</a>
                            <a href="coming_soon.html">Developers</a>
                            <a href="contact_us.html">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="item_f1">
                            <a href="terms_of_use.html">Copyright Policy</a>
                            <a href="terms_of_use.html">Terms</a>
                            <a href="terms_of_use.html">Privacy Policy</a>
                            <a href="#">Sitemap</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="item_f3">
                            <a href="#" class="btn1542">Teach on Cursus</a>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="footer_bottm">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="fotb_left">
                                        <li>
                                            <a href="index.html">
                                                <div class="footer_logo">
                                                    <img src="images/lg.png" alt="">
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <p>© 2021 <strong>RightJOB</strong>. All Rights Reserved.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <div class="edu_social_links">
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                        <a href="#"><i class="fab fa-youtube"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

{% endblock %}

{% block js %}
    <script src="js/vertical-responsive-menu.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="vendor/semantic/semantic.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/night-mode.js"></script>
{% endblock %}