{% extends 'base.html.twig' %}

{% block title %}RightJob{% endblock %}

{% block css %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>Cursus - Create New Course</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="{{ asset('images/fav.png') }}">

    <!-- Stylesheets -->
    <link href='{{ asset('http://fonts.googleapis.com/css?family=Roboto:400,700,500') }}' rel='stylesheet'>
    <link href='{{ asset('vendor/unicons-2.0.1/css/unicons.css') }}' rel='stylesheet'>
    <link href="{{ asset('css/vertical-responsive-menu1.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/instructor-dashboard.css') }}" rel="stylesheet">
    <link href="{{ asset('css/instructor-responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('css/night-mode.css') }}" rel="stylesheet">
    <link href="{{ asset('css/jquery-steps.css') }}" rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/OwlCarousel/assets/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/OwlCarousel/assets/owl.theme.default.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/semantic/semantic.min.css') }}">


{% endblock %}
{% block body %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=9">
		<meta name="description" content="Gambolthemes">
		<meta name="author" content="Gambolthemes">
		<title>Cursus - Instructor Profile View</title>

		<!-- Favicon Icon -->
		<link rel="icon" type="image/png" href="images/fav.png">

		<!-- Stylesheets -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
		<link href='vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
		<link href="css/vertical-responsive-menu.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/responsive.css" rel="stylesheet">
		<link href="css/night-mode.css" rel="stylesheet">

		<!-- Vendor Stylesheets -->
		<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
		<link href="vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
		<link href="vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
		<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="vendor/semantic/semantic.min.css">

	</head>
	<!-- Body Start -->
	<div class="wrapper _bg4586">
		<div class="_215b15">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">						
						<div class="course_tabs">
							<nav>
								<div class="nav nav-tabs tab_crse" id="nav-tab" role="tablist">
									<a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-selected="true">Liste des offres des stages</a>

								</div>
							</nav>						
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="_215b17">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="course_tab_content">
							<div class="tab-content" id="nav-tabContent">
								<div class="tab-pane fade show active" id="nav-about" role="tabpanel">
									<div class="_htg451">
										<div class="_htg452">
										 <div class="col-lg-12 col-md-12">
                                                                    <div class="table-responsive mt-50 mb-0">
                                                                        <table class="table ucp-table">
                                                                            <thead class="thead-s">
                                                                            <tr>
                                                                                <th class="text-center" scope="col">Nom de projet</th>
                                                                               <th class="text-center" scope="col">Compétences</th>
                                                                                <th class="text-center" scope="col">Description</th>
                                                                                
                                                                                <th class="text-center" scope="col">Domaine</th>
																				 <th class="cell-ta">Durée</th>
																				 <th class="cell-ta">Type de stage</th>
                                                                                <th class="text-center" scope="col">date création</th>
																				<th class="text-center" scope="col">date éxpiration</th>
                                                                                <th class="text-center" scope="col">Controls</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
																	{% for i in l %}
                                                                            <tr>
																			
                                                                                <td class="text-center">{{ i.nomProjet }}</td>
                                                                                <td class="cell-ta">{{ i.competences }}</td>
                                                                                <td class="text-center">{{ i.description }}</td>
                                                                                <td class="text-center">{{ i.domaine }}</td>
                                                                                <td class="text-center">{{ i.duree }}</td>
																				<td class="text-center">{{ i.typeStage }}</td>
                                                                                <td class="text-center">{{i.dateCreation ? i.dateCreation|date('Y-m-d')}}</td>
																				<td class="text-center">{{i.dateExpiration ? i.dateExpiration|date('Y-m-d')}}</td>
                                                                                <td class="text-center">
                                                                                    <a href="{{ path('editStage', {'id': i.id}) }}" title="Edit" class="gray-s"><i class="uil uil-edit-alt"></i></a>
                                                                                    <a href="{{ path('deleteStage', {'id': i.id}) }}" title="Delete" class="gray-s"><i class="uil uil-trash-alt"></i></a>
                                                                                </td>
																				
                                                                            </tr>
																			{% endfor %}
																			    <tr><th><p style="color:blue"> le nombre des offres d'emploi :	 {{c}} </p></th><th><a class="btn btn-success" href="{{ path('listhS') }}">Créer PDF</a></th><th><a class="btn btn-primary" href="{{ path('updateExpiration') }}">Expiration</a> </th></tr></tr>
                                                                            </tbody>
                                                                        </table>
																		
                                                                    </div>
                                                                </div>
																<div class="navigation" style="margin-left:40%">
           {{ knp_pagination_render(
                    l,
                    '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',
                    {
                        'queryParam1': 'param1 value',
                        'queryParam2': 'param2 value'
                    },
                    {
                        'viewParam1': 'param1 value',
                        'viewParam2': 'param2 value'
                    },
                ) }}
                                                                           
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12 col-md-12">
                                                                    <div class="save_content">
                                                                        <a href="/addStage"> <button class="save_content_btn" type="Submit">Créer un offre de stage </button></a>
                                                                    </div>
                                                                </div>
                                         

</table>
										</div>																	
									</div>							
								</div>
									
												
												

							</div>
						</div>
					</div>
				</div>
			</div>

	<!-- Body End -->

{% endblock %}

{% block js %}
    <script src="{{ asset('js/vertical-responsive-menu.min.js') }}"></script>
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('vendor/OwlCarousel/owl.carousel.js') }}"></script>
    <script src="{{ asset('vendor/semantic/semantic.min.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
    <script src="{{ asset('js/night-mode.js') }}"></script>
    <script src="{{ asset('js/jquery-steps.min.js') }}"></script>
    <script>
        $('#add-course-tab').steps({
            onFinish: function () {
                alert('Wizard Completed');
            }
        });
		
    </script>
{% endblock %}