

{% extends 'base.html.twig' %}

{% block title %}RightJob{% endblock %}

{% block css %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>Cursus - Create New Course</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="images/fav.png">

    <!-- Stylesheets -->
    <link href='{{ asset('http://fonts.googleapis.com/css?family=Roboto:400,700,500') }}' rel='stylesheet'>
    <link href='{{ asset('vendor/unicons-2.0.1/css/unicons.css') }}'" rel='stylesheet'>
    <link href="{{ asset('css/vertical-responsive-menu1.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/instructor-dashboard.css') }}" rel="stylesheet">
    <link href="{{ asset('css/instructor-responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('css/night-mode.css') }}" rel="stylesheet">
    <link href="{{ asset('css/jquery-steps.css') }}" rel="stylesheet">
    <!-- Vendor Stylesheets -->
    <link href="{{ asset('vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/OwlCarousel/assets/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/OwlCarousel/assets/owl.theme.default.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/semantic/semantic.min.css') }}">

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <html lang="en">


    <!-- Mirrored from gambolthemes.net/html-items/cursus_demo_f12/feedback.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:56:11 GMT -->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, shrink-to-fit=9">
        <meta name="description" content="Gambolthemes">
        <meta name="author" content="Gambolthemes">
        <title>Cursus - Feedback</title>

        <!-- Favicon Icon -->
        <link rel="icon" type="image/png" href="images/fav.png">

        <!-- Stylesheets -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
        <link href='vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
        <link href="css/vertical-responsive-menu.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">
        <link href="css/night-mode.css" rel="stylesheet">

        <!-- Vendor Stylesheets -->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link href="vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
        <link href="vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="vendor/semantic/semantic.min.css">

    </head>


    <!-- Left Sidebar End -->
    <!-- Body Start -->
    <div class="wrapper">
        <div class="sa4d25">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">



                        <h2 class="st_title"><i class="uil uil-comment-info-alt"></i> Afficher quiz</h2>
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ quiz.id }}</td>
                                <td><a class="btn btn-info" href="{{ path('quiz_delete', {'id': quiz.id}) }}"><i class="fa fa-minus-circle" aria-hidden="true"></i>Suprimer</a></td>
                                <td><a class="btn btn-info" href="{{ path('question_new', {'id_quiz': quiz.id, 'nb_question' : '-1'}) }}"><i class="fa fa-plus" aria-hidden="true"></i>Ajouter une question</a></td>
                            </tr>
                            <tr>
                                <th>Titre de quiz</th>
                                <td>{{ quiz.nomQuiz }}</td>
                                <td><a class="btn btn-info" href="{{ path('quiz_edit', {'id': quiz.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i>Modifier</a></td>

                            </tr>
                            <tr>
                                <th>Nombre de question</th>
                                <td>{{ quiz.nombQuestion }}</td>
                            </tr>
                            {% for ques in quiz.questions %}
                                <tr>
                                <td></td>
                                <th>Question</th>
                                <td>{{ ques.contenuQues }}</td>
                                <td><a class="btn btn-info" href="{{ path('question_edit', {'id': ques.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i>Modifier</a></td>
                                <td><a class="btn btn-info" href="{{ path('question_delete', {'id': ques.id}) }}"><i class="fa fa-minus-circle" aria-hidden="true"></i>Supprimer</a></td>
                                <td><a class="btn btn-info" href="{{ path('reponse_add', {'ques_id': ques.id}) }}"><i class="fa fa-plus" aria-hidden="true"></i>Ajouter une reponse</a></td>
                                {% for reponse in ques.reponses %}
                                    <tr>
                                        <td></td><td></td>
                                        <th>Reponse</th>
                                        {% if not(ques.repjust is null) and ques.repjust.id == reponse.id %}
                                            <td >{{ reponse.contenuRep }} <i style="font-size: 150%; color:limegreen" class="fa fa-check-circle-o" aria-hidden="true"></i></td>
                                        {% else %}
                                            <td>{{ reponse.contenuRep }}</td>
                                        {% endif %}

                                        <td><a class="btn btn-info" href="{{ path('reponse_edit', {'id': reponse.id}) }}"><i class="fa fa-pencil" aria-hidden="true"></i>Modifier</a></td>
                                        <td><a class="btn btn-info" href="{{ path('reponse_delete', {'id': reponse.id}) }}"><i class="fa fa-minus-circle" aria-hidden="true"></i>Supprimer</a></td>
                                        {% if not(not(ques.repjust is null) and ques.repjust.id == reponse.id) %}
                                            <td><a class="btn btn-info" href="{{ path('reponse_correct', {'id': reponse.id}) }}">definir la reponse juste</a></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-lg-6 col-md-8">
                                <div class="ui search focus">

                                </div>
                                <div class="ui search focus mt-30">
                                    <div class="ui form swdh30">
                                        <div class="field">
                                            {#                                            {{ form_widget(f.texteReclamation) }}#}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer mt-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="item_f1">
                            <a href="about_us.html">About</a>
                            <a href="our_blog.html">Blog</a>
                            <a href="career.html">Careers</a>
                            <a href="press.html">Press</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="item_f1">
                            <a href="help.html">Help</a>
                            <a href="coming_soon.html">Advertise</a>
                            <a href="coming_soon.html">Developers</a>
                            <a href="contact_us.html">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="item_f1">
                            <a href="terms_of_use.html">Copyright Policy</a>
                            <a href="terms_of_use.html">Terms</a>
                            <a href="terms_of_use.html">Privacy Policy</a>
                            <a href="#">Sitemap</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <div class="item_f3">

                        </div>
                        <div class="col-md-6">
                            <div class="edu_social_links">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    </footer>
    </div>
    <!-- Body End -->





    <!-- Mirrored from gambolthemes.net/html-items/cursus_demo_f12/feedback.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:56:11 GMT -->
    </html>
{% endblock %}

{% block js %}
    <script src="js/vertical-responsive-menu.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="vendor/semantic/semantic.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/night-mode.js"></script>
    <script src="js/jquery-steps.min.js"></script>
    <script>
        $('#add-course-tab').steps({
            onFinish: function () {
                alert('Wizard Completed');
            }
        });
    </script>
{% endblock %}











