{% extends 'base.html.twig' %}

{% block title %}RightJob{% endblock %}

{% block css %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>Cursus - Create New Course</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="{{ asset('images/fav.png') }}">

    <!-- Stylesheets -->
    <link href={{asset('http://fonts.googleapis.com/css?family=Roboto:400,700,500')}} rel='stylesheet'>
    <link href={{asset('vendor/unicons-2.0.1/css/unicons.css')}} rel='stylesheet'>
    <link href={{asset("css/vertical-responsive-menu1.min.css")}} rel="stylesheet">
    <link href={{asset("css/instructor-dashboard.css")}} rel="stylesheet">
    <link href={{asset("css/instructor-responsive.css")}} rel="stylesheet">
    <link href={{asset("css/night-mode.css")}} rel="stylesheet">
    <link href={{asset("css/jquery-steps.css")}} rel="stylesheet">

    <!-- Vendor Stylesheets -->
    <link href={{asset("vendor/fontawesome-free/css/all.min.css")}} rel="stylesheet">
    <link href={{asset("vendor/OwlCarousel/assets/owl.carousel.css")}} rel="stylesheet">
    <link href={{asset("vendor/OwlCarousel/assets/owl.theme.default.min.css")}} rel="stylesheet">
    <link href={{asset("vendor/bootstrap/css/bootstrap.min.css")}} rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={{asset("vendor/semantic/semantic.min.css")}}>


{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="sa4d25">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="st_title"><i class="uil uil-analysis"></i> Modifier offre d'emploi</h2>
                    </div>
                </div>
               
                                <div class="step-content">
                                    <div class="step-tab-panel step-tab-info active" id="tab_step1">
                                        <div class="tab-from-content">
                                            
                                            <div class="course__form">
                                                <div class="general_info10">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="ui search focus mt-30 lbel25">
                                                          {{ form_start(f) }}
                                                                <label>Nom de projet</label>
                                                                <div class="ui left icon input swdh19">
                                                                    {{ form_widget(f.nomProjet) }}
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="ui search focus mt-30 lbel25">
                                                                <label>Compétences prérequis</label>
                                                                <div class="ui left icon input swdh19">
                                                                    {{ form_widget(f.competences) }}
                                                                   
                                                                </div>
                                                            </div>
                                                       
                                                        </div>
                                                       
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="course_des_textarea mt-30 lbel25">
                                                                <label>Description du projet</label>
                                                                <div class="course_des_bg">
                                                                    <ul class="course_des_ttle">
                                                                        <li><a href="#"><i class="uil uil-bold"></i></a></li>
                                                                        <li><a href="#"><i class="uil uil-italic"></i></a></li>
                                                                        <li><a href="#"><i class="uil uil-list-ul"></i></a></li>
                                                                        <li><a href="#"><i class="uil uil-left-to-right-text-direction"></i></a></li>
                                                                        <li><a href="#"><i class="uil uil-right-to-left-text-direction"></i></a></li>
                                                                        <li><a href="#"><i class="uil uil-list-ui-alt"></i></a></li>
                                                                        <li><a href="#"><i class="uil uil-link"></i></a></li>
                                                                        <li><a href="#"><i class="uil uil-text-size"></i></a></li>
                                                                        <li><a href="#"><i class="uil uil-text"></i></a></li>
                                                                    </ul>
                                                                    <div class="textarea_dt">
                                                                        <div class="ui form swdh339">
                                                                            <div class="field">
                                                                              
                                                                              {{ form_widget(f.description) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                       
                                                        <div class="col-lg-5 col-md-6">
                                                                    <div class="ui search focus mt-30 lbel25">
                                                                        <label>Salaire</label>
                                                                        <div class="ui left icon input swdh19 swdh55">
                                                                           {{ form_widget(f.salaire) }}
                                                                            <div class="badge_min">Dinars</div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                 <div class="view_all_dt">
                                                                
                                                                 <div class="ui search focus mt-30 lbel25" style="margin-left:2%">
                                                                    <label>Choisir un domaine</label>
                                                                  {{ form_widget(f.domaine) }}
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>

                                   <br>
                                <div class="step-footer step-tab-pager">
                                    
                                   
                                   <input type="submit" value="Modifier"  name="modifier" class ='btn btn-default steps_btn' data-direction="finish" style="margin-left:85%">
                                   {{ form_rest(f) }}
                                    {{ form_end(f) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('js/vertical-responsive-menu.min.js') }}"></script>
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('vendor/OwlCarousel/owl.carousel.js') }}"></script>
    <script src="{{ asset('vendor/semantic/semantic.min.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
    <script src="{{ asset('js/night-mode.js') }}"></script>
    <script src="{{ asset('js/jquery-steps.min.js') }}"></script>
    <script>
        $('#btn btn-default steps_btn').steps({
            onFinish: function () {
                alert('Offre Modifié avec succée');
            }
        });
    </script>
{% endblock %}
